body {
    margin: 0;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Clerk Styles */
.cl-formButtonPrimary.cl-button {
    background-color: #1976d2;
}

.cl-footerActionLink,
.cl-footerActionLink:hover {
    color: #1976d2;
}

.loader-container {
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 100px;
    height: 40px;
    --g: radial-gradient(
            farthest-side,
            #1976d2 calc(95% - 3px),
            #1976d2 calc(100% - 3px) 98%,
            #0000 101%
        )
        no-repeat;
    background: var(--g), var(--g), var(--g);
    background-size: 30px 30px;
    animation: l9 1s infinite alternate;
    transform: scale(1.5);
}
@keyframes l9 {
    0% {
        background-position: 0 50%, 50% 50%, 100% 50%;
    }
    20% {
        background-position: 0 0, 50% 50%, 100% 50%;
    }
    40% {
        background-position: 0 100%, 50% 0, 100% 50%;
    }
    60% {
        background-position: 0 50%, 50% 100%, 100% 0;
    }
    80% {
        background-position: 0 50%, 50% 50%, 100% 100%;
    }
    100% {
        background-position: 0 50%, 50% 50%, 100% 50%;
    }
}
